.tab-item-container {
  padding-right: 4px;
}

.tab-btn {
  color: #7b8794;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border-top: none;
  border-bottom: 2px solid #dfe2e5;
  border-left: none;
  border-right: none;
  cursor: pointer;
  font-family: 'Roboto';
}
.active-tab-btn {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
  padding-bottom: 8px;
}

/* .tab-item-container {
padding-right: 4px;
} */

@media screen and (min-width: 992px) {
  .tab-item-container {
    padding-right: 24px;
  }
}
/* 
.tab-btn {
font-family: 'Roboto';
color: #9aa5b1;
font-weight: 500;
font-size: 16px;
background-color: transparent;
outline: none;
border: none;
cursor: pointer;
} */

@media screen and (min-width: 992px) {
  .tab-btn {
    font-size: 24px;
  }
}

/* .active-tab-btn {
  border-bottom: 2px solid #0b69ff;
  color: #3e4c59;
} */
